<div class="wrapper">
    <div class="balloons" id="balloons"></div>
    <div class="confetti-container" id="confetti"></div>

    <h1 class="title">
        JeRi - 22
    </h1>

    <h1>
        <div id="typing-container">
            <span id="happy-text" class="typing-text">{{ typedText }}</span>
            <span id="heart" class="heart">❤</span>
        </div>
    </h1>

    <div class="cake" (click)="onClickCandle()">
        <div class="cake-top"></div>
        <div class="candle">
            <div class="flame"></div>
        </div>
        <span>Touch this cake to view the surprise</span>
    </div>
</div>