<div class="cosmic-texture"></div>
<div class="large-glow"></div>
<div class="background-sparkles"></div>
<div class="glow-effect"></div>
<div class="sparkle-center"></div>

<!-- container for dynamic sparkles -->
<div class="sparkle-page">

    <div id="sparkleContainer">
    </div>

    <div class="content-wrapper">
        <div class="content-container">
            <h1>Adiyee... Jeyanthi...🩷</h1>
            <p>Adiyee🙋🏻‍♂️... <span>Azhagiii</span>😍... Inga paaru... Ennala unna evlo happy ah paathuka mudiyumnu
                therila, aana enaku epdi
                sollanum therila😔. Nee na, enaku avlo <span>istam</span>🥰💞. Namakulla neraya sanda varalam polam,
                yean pesama kooda irukalam😟,
                aana ennala <span>unna</span> vittutu irukka mudiyathu 🥹. Enna sanda pottalum unnatha
                <span>thedi</span> varuven🫂
            </p>
            <p>
                Ellame mudunjathu nu nenachapo, <span>enakaga vanthava nee</span>🥹😘... Ennala unga appa va vita nalla
                paathuka mudiyuma nu
                therila😞, Aana unga appa kooda potti pottu <span>paathupen</span>😌🥰. En kitta ipo ethume illa🤷🏼😶,
                aana kandipa na <span>periya aal</span> aaven🏃🏼‍♂️‍➡️☺️.
            </p>
            <p>
                Ethuvume illatha en life la🤷🏻‍♂️ <span>ellavuma</span> iruka nee varuviya🫴🏻....????
            </p>
            <p>
                En kooda <span>kai</span> korthu🫶🏻 en <span>kaalam</span> full ah en koodave nadakka👫🏻....
            </p>
            <p>
                Un <span>kannula</span>👁 ennoda vazhkaya pakka👩‍❤️‍👨....
            </p>
            <p>
                unnodu en vazhkaya <span>vaazha</span>👨‍👩‍👦....
            </p>
            <p>
                Enthan <span>ennavale</span>😍🫂🤍.... Unthan <span>kaathalan</span>🙇‍♂️... <span id="name"
                    (click)="onClickRam()">Ram</span>😘😉💗 (<- click Ram)
            </p>
        </div>
    </div>
</div>