<div class="wrapper">
    <div class="floating-hearts"></div>

    <div class="love-container">
        <div class="love-text">I Love You</div>
        <div class="love-subtext">Forever and Always</div>

        <div class="heart-container">
            <div class="heart" (click)="createSparkles($event)"></div>
            <div class="heart" (click)="createSparkles($event)"></div>
            <div class="heart" (click)="createSparkles($event)"></div>
        </div>

        <div class="romantic-message">
            You are the sunshine that brightens my day, the melody that fills my heart with joy,
            and the love that gives meaning to my existence.
        </div>
    </div>
</div>